
.container {
  position: relative;
  text-align:center;
  color:white;
}

.banner-img {
    position:relative;
    text-align:center;
}

.banner-img img {
    width:100%;
    height:auto;
    z-index:-1;
    max-height:800px;
   object-fit:cover;
   text-align:center;
    /* transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) */
}

.banner-img h3 {
  margin: 0 auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:60px;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  margin-left:-3.3em;
  
}

@keyframes HeroAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
